<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <VVE_Springbok_Blueprint.label>Антилопа</VVE_Springbok_Blueprint.label>
  <VVE_Springbok_Blueprint.description>Универсальный транспорт, "Антилопа" хорошо показывает себя во всех категориях с хорошей грузоподъемностью и вместимостью. Старая, надежная конструкция и громкий двигатель негативно влияют на экономичность топливопотребления и видимость.Лучше всего подходит для ровных дорог и будет испытывать трудности на холмах, снегу или зимних участках. \n\nВ сравнении с транспортными средствами 2 уровня она проигрывает в производительности, но это стильный автомобиль, который поднимает настроение всем пассажирам.</VVE_Springbok_Blueprint.description>


</LanguageData>